/* Réinitialisation des marges et des espacements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c6c6c6;
}

/****************** ENTÊTE ***/
/* Image d'arrière-plan */
.background {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Logo */
.logo {
  position: absolute;
  left: 50px;
  top: 50px;
}

/* Titre */
h1 {
  color: #ffd15b;
  font-family: "Anton", sans-serif;
  font-size: 42px;
  letter-spacing: 1px;
  font-weight: 400;
  width: 690px;
  text-align: center;
  margin-left: 24.5%;
  margin-top: 17.5%;
}

/* Conteneur de la barre de recherche et de l'icône */
.search-container {
  position: relative;
  width: 870px; /* Limite la largeur de la barre de recherche */
  margin-left: 18%;
  margin-top: 23px;
}

/* Barre de recherche */
.searchbar {
  width: 100%;
  padding: 20px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 8px;
  outline: none;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
}

/* Conteneur de l'icône de recherche */
.glass {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%); /* Ajuste le centrage vertical */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

/* Icône de recherche */
.glass i {
  color: white;
  font-size: 25px;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

/* Effet au survol de l'icône de recherche */
.glass i:hover {
  background-color: #ffd15b;
  color: black;
}

/* Croix */
.cross-icon {
  display: none; /* Cache la croix par défaut */
  position: absolute;
  right: 55px; 
  cursor: pointer;
  color: #c6c6c6;
  width: 20px;
  height: 20px;
  top: 55%;
  transform: translateY(-50%);
}

.cross-icon.visible {
  display: inline; /* Affiche la croix lorsqu'elle est visible */
}

.cross-icon:hover {
  color: black;
}

/********** BOUTONS DE FILTRES **********/
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/** Pour l'ensemble boutons **/
.dropdowns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
  margin-top: 220px;
  margin-left: 90px;
  margin-bottom: 50px;
}

/* Style pour le bouton du dropdown */
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-style: none;
  padding: 15px 15px;
  border-radius: 8px;
  font-size: 16px;
  width: 190px;
  font-weight: 500;
  cursor: pointer;
}

/** Flèche **/
.dropdown-icon {
  width: 16px;
  height: 16px;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.dropdown.show .dropdown-content {
  display: block; /* Affiche le menu déroulant quand la classe 'show' est ajoutée */
}

.dropdown-content {
  display: none; /* Caché par défaut */
  position: absolute;
  z-index: 2;
  background-color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.3em;
  color: black;
  border-style: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 190px;
  margin-top: -7px;
  max-height: 265px; 
  cursor: pointer;
  overflow-y: auto;  /* Active le défilement vertical si le contenu dépasse */
  scrollbar-width: none; /* Pour cacher la barre de défilement / Fonctionne très bien dans Chrome, Firefox et Microsoft Edge malgré le message de VsCode*/
  padding-top: 0;
}

/* Barre de recherche à l'intérieur du menu déroulant */
.search-filters {
  width: 155px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 40px;
  border-radius: 2px;
  outline: none;
  border-style: solid;
  color: #000; 
  border-color: #c6c6c6;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 7px;
  margin-left: 6px;
}

/* Loupe */
.filters-icon {
  display: flex;
  position: absolute;
  width: 14px;
  height: 14px;
  color: #c6c6c6;
  top: 45%;
  transform: translateY(-50%); /* Ajuste le centrage vertical */
  right: 28px;
}

/* Croix */
.clear-icon {
  display: none;
  position: absolute;
  right: 45px; 
  cursor: pointer;
  color: #c6c6c6;
  width: 16px;
  height: 16px;
  top: 47%;
  transform: translateY(-50%);
  background-color: white;
}

.clear-icon:hover {
  color: black;
}
.clear-icon:focus-visible {
  color: black; 
  outline-offset: 1px;  
}
/* Supprime la croix par défaut du navigateur dans les champs de type search */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* positionnement des item dans le menu déroulant */
.item {
  padding: 1px 18px;
}

.item:hover,
.item:focus-visible {
  background-color: #ffd15b;
  width: 100%;
  text-shadow: 0.3px 0.3px 0.1px rgba(0, 0, 0, 0.6);
  outline: none;
}

/* compteur du nombre de cartes recettes, à droite de l'écran */
.counter {
  font-family: "Anton", sans-serif;
  color: black;
  margin-top: 220px;
  margin-right: 90px;
  margin-bottom: 50px;
  font-size: 21px;
}


/*** Pour les options sélectionnées par l'utilisateur au-dessous des boutons de filtres ***/
.selected-item {
  display: block; /* Caché par défaut */
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: black;
  background-color: #ffd15b;
  padding: 15px 18px;
  border-radius: 8px;
  width: 190px; 
  position: relative;
  margin-left: 90px;
}

.cross-item {
  position: absolute;
  right: 0; 
  cursor: pointer;
  color: black;
  width: 20px;
  height: 20px;
  top: 57%;
  transform: translateY(-50%);
}

/*** Conteneur pour les options sélectionnées ***/
.options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: -25px;
  width: auto;
  flex-wrap: wrap; 
}

.options-container .selected-item {
  margin-left: 90px;
  margin-right: -35px; 
  padding: 15px 7px; 
}

.error-message {
  display: block; /* Caché par défaut */
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: black;
  background-color: #ffb700;
  padding: 15px 18px;
  border-radius: 8px;
  width: 190px; 
  position: relative;
  width: 1230px;
}

.error-container {
  padding: 10px;
  color: black;
  margin-left: 80px;
  margin-top: 30px;
}

.error-item {
  color: blue;
  font-weight: bold; 
}


/***** CARTES RECETTES *****/
/*** Ajuste la marge pour tenir compte de l'option sélectionnée ***/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 42px;
  margin: 0 90px 180px 90px;
  transition: margin-top 0.3s ease-in-out; /* Pour un ajustement fluide */
}

/** Composition carte ***/
.card {
  width: 380px;
  height: 731px;
  background-color: white;
  border-radius: 20px;
  font-family: "Manrope", sans-serif;
}

.card-top {
  display: flex;
  justify-content: flex-end;
}

.card-img-top {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 253px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-time {
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 12px;
  background-color: #ffd15b;
  width: 60px;
  padding: 4px;
  border-radius: 20px;
  margin: 1.5% 1.5%;
}

.card-body {
  padding: 30px 25px;
}

.card h2 {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.card h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #7a7a7a;
  margin-bottom: 15px;
}

.card p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
  display: block;
  overflow: hidden;
  max-height: calc(4 * 1.4em); /* Nombre de lignes par hauteur de ligne */
  line-height: 1.4em;
}

.small-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 18px;
}

.card h4 {
  font-weight: 500;
  font-size: 14px;
}

.card span {
  font-weight: 400;
  font-size: 14px;
  color: #7a7a7a;
}
